/* CSS Document */
/* 

Color Hex:

Screen Blue - #0554F2
Controller Blue - #49E1F2
Controller Red - #F29C6B
Controller Red Opposite - #0D6394
Case Red - #F25E3D
Case Red Opposite - #0DA1C2
Table White - #F2F2F2
Table White Opposite - #0D0D0D

Font Families:

font-family: 'Press Start 2P', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@200;400;700&family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*, *:after {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #F2F2F2;
}

h1 {
	display: block;
	font-size: 3em;
    margin: 2em 2em 0 2em;
    font-family: 'Press Start 2P', cursive;
    color: #F25E3D;
    text-align: center;
	text-shadow: 3px 3px #0D0D0D;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin: 1em 0 1em 0;
    font-family: 'Press Start 2P', cursive;
    color: #F25E3D;
    text-align: center;
	text-shadow: 1px 1px #0D0D0D;
}

p {
	font-family: 'Rubik', sans-serif;
	margin-top: 1em;
	padding-bottom: 1em;
	font-size: 1.1em;
}

.mainImg {
	margin: 1em;
	border: solid;
	border-color: #0D0D0D;
	border-width: 4px;
	float: left;
	max-width: 30%
}

#rightImg {
	float: right;
}

main { 
	background-color: #F29C6B;
	margin: 2em;
	padding: 1em;
	border: solid;
	border-color: #0D0D0D;
	border-width: 4px;
	min-height: 400px;
}

blockquote {
	display: block;
	font-size: 1.2em;
	margin: 0 10em 2em 0;
    font-family: 'Press Start 2P', cursive;
    color: #0d6394;
	text-align: right;
	text-shadow: 1px 1px #0D0D0D;
}

table {
	font-size: 1em;
	padding: 1em;
	margin: 1em;
	border: solid;
	border-color: #0D0D0D;
	border-width: 4px;
	font-family: 'Press Start 2P', cursive;
}

input {
	font-size: 1.2em;
	margin-bottom: 5px;
	border: solid;
	border-width: 3px;
}

#btn {
	font-size: 1em;
	padding: 3px;
	border: solid;
	border-width: 3px;
	font-family: 'Press Start 2P', cursive;
}

#btn:hover {
	background-color: #0554F2;
	color: #F2F2F2;
}

nav {
    display: block;
}

nav ul {
    list-style-type: none;
	text-align: center;
}

nav ul li {
    display: inline-block;
	font-size: 1.3em;
	margin: 0 3em;
	font-family: 'Press Start 2P', cursive;
	text-decoration: none;
}

nav ul li a:link {
	color: #0D0D0D;
	background-color: #F25E3D;
	border: solid;
	border-color: #0D0D0D;
	padding: 4px;
	border-width: 4px;
	text-decoration: none;
}

nav ul li a:hover {
	color: #F2F2F2;
	border: solid;
	border-color: #0D0D0D;
	padding: 4px;
	border-width: 4px;
	text-decoration: none;
}

nav ul li a:active {
	color: #49E1F2;
	border: solid;
	border-color: #0554F2;
	padding: 4px;
	border-width: 4px;
	text-decoration: none;
}

nav ul li a:visited {
	color: #49E1F2;
	border: solid;
	border-color: #0D0D0D;
	padding: 4px;
	border-width: 4px;
	text-decoration: none;
}

footer {
	text-align: center;
	margin: 2em;
}

footer p {
	font-size: .8em;
}

.attribution {
    font-size: .6em;
	display: inline-block;
}