/* CSS Document */
/* 

Color Hex:

Screen Blue - #0554F2
Controller Blue - #49E1F2
Controller Red - #F29C6B
Case Red - #F25E3D
Table White - #F2F2F2

Font Families:

font-family: 'Press Start 2P', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@200;400;700&family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*, *:after {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #F2F2F2;
}

h1 {
    margin: 2em;
    font-family: 'Press Start 2P', cursive;
    color: #F25E3D;
    text-align: center;
}

h2 {

}

blockquote {

}

table {

}

nav {
    display: inline-block;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a:link {

}

nav ul li a:hover {
    
}

nav ul li a:active {
    
}

nav ul li a:visited {
    
}

.attribution {
    font-size: .8em;
}